
h2 {
  font-family: Corbel;
  text-align: center;
}

div {
  width: 60vw;  
  margin: auto;
}

#input {
  background: grey;
  width: 60vw;
  height: 100px;
  border: 2px solid black;
  border-radius: 7px;
}

input, select {
  background: white;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

input {
  padding: 10px 15px;
}

select {
  padding: 8px 15px;
}

input:not(.block) {
  border: 1px solid black;
}

#dependencyPackage {
  width: 100px;
}

#dependencyVersion {
  width: 60px;
}

/* blocks */

.block {
  color: white;
}

/* colours */

.red {
  background: red;
}

.green {
  background: green;
}

.springgreen {
  background: springgreen;
}
